# База данных
DB_HOST=localhost
DB_NAME=arizona_admins
DB_USER=user
DB_PASSWORD=password
DB_CHARSET=utf8mb4

# VK API
BOT_MAIN_TOKEN=vk1.a.*****
USERBOT_TOKEN=vk1.a.*****
VK_CLIENT_ID=123456789
VK_CLIENT_SECRET=secretkey
VK_GROUP_ID=123456789

# Настройки сайта
SITE_DOMAIN=admin.arztools.tech
APP_ENV=production

# Ссылки на дашборды Grafana
GRAFANA_ARIZONA_URL=https://arztools.tech/grafana/goto/*****
GRAFANA_RODINA_URL=https://arztools.tech/grafana/goto/*****
